<div class="col-md-12">
  <div class="group">
    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@project) %>
        <label class="label label-success">项目成员</label>
      <% else %>
        <label class="label label-warning">非项目成员</label>
      <% end %>
    </span>
  </div>
  <h2><%= @project.name %></h2>
  <p><%= @project.remark %></p>

  <table class="table">
  <thead>
    <tr>
      <th>产品名称</th>
      <th>描述</th>
      <th>价格</th>
      <th>买卖</th>
    </tr>
  </thead>
  <tbody>
    <% @project.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.remark %></td>
        <td>
            <%= product.calculate_agent_price!(current_user)  %>
        </td>
        <td>
          <%= link_to("购买", new_product_order_path(product), class: "btn btn-sm btn-primary") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
