<div class="col-md-12">
  <h2>用户管理</h2>
  <div class="group">
    <%= link_to("新增用户", new_admin_user_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>名称</th>
        <th>登录次数</th>
        <th>创建时间</th>
        <th>等级</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>#</td>
          <td><%= link_to(user.email, admin_user_path(user)) %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.created_at %></td>
          <td><%= user.agent_rank ? user.agent_rank.name : "未设置" %></td>
          <td>
            <%= link_to("配置", new_configure_admin_user_path(user), class: "btn btn-sm btn-default")%>
            <%= link_to("编辑", edit_admin_user_path(user), class: "btn btn-sm btn-default")%>
            <%= link_to("删除", admin_user_path(user),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
