<h2>充值金额</h2>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>交易时间</th>
      <th>交易金额</th>
      <th>交易类型</th>
      <th>交易对象</th>
      <th>操作者</th>
      <th>余额</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <% @account_books.each do |account_book| %>
      <tr>
        <td>#</td>
        <td><%= account_book.created_at %></td>
        <td><%= account_book.amount %></td>
        <td><%= account_book.show_transaction_type! %></td>
        <td>
          <% if account_book.transaction_type == 1 %>
            <%= account_book.deposit_reference_no %>
          <% elsif [2,3].include?(account_book.transaction_type) %>
            <%= link_to("订单 #{account_book.order_id}", admin_orders_path) %>
          <% else %>
            未知交易
          <% end %>
        </td>
        <td><%= account_book.operator %></td>
        <td><%= account_book.balance %></td>
        <td><%= account_book.remark %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-4 col-md-offset-4">
    <div class="text-center">
      <%= will_paginate @account_books %>
    </div>

    <%= simple_form_for @account_book, method: :post, url: deposit_admin_user_path(@user) do |f| %>
      <div class="form-group">
        <%= f.input :amount, as: :decimal, class: "form-control" %>
        <%= f.input :deposit_reference_no, class: "form-control" %>
        <%= f.input :remark, class: "form-control" %>
      </div>
      <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
    <% end %>
</div>
