<div class="col-md-4 col-md-offset-4">
    <h2>配置用户</h2>
    <hr>
    <%= simple_form_for @user, method: :post, url: configure_admin_user_path(@user) do |f| %>
      <div class="form-group">
        <%= f.input :email, class: "form-control", readonly: true %>
        <%= f.association :agent_rank, collection: AgentRank.all, priority: 1, input_html: { class: "form-control"}, :required => true, :hint => "分销商等级" %>
        <%= f.association :joined_projects, as: :check_boxes, collection: Project.all, priority: 1, input_html: { } %>
      </div>
      <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
    <% end %>
</div>
